* {
    font-family: 'Baloo Da 2';
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 2vw;
}

.logo {
    object-fit: cover;
    height: 100%;
    width: 125px;
}

.nav_itens {
    display: flex;
    list-style: none;
}

.nav_itens li {
    padding: 0vh 1vw;
}

.funcs {
    display: flex;
    flex-direction: row;
}

.demo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.demo p {
    text-align: center;
}

section {
    margin: auto;
    width: 75vw;
    text-align: center;
}

.form_cont {
    display: flex;
    flex-direction: column;
}

.form_cont button {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
}